bootstrap/cache/services.php

storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

vendor/**/test*
vendor/**/tests*
vendor/**/Tests*

**.git
.idea
**.gitignore
**.gitattributes

phpunit.xml
readme.md
phpspec.yml


docker
!docker/apache/000-default.conf
Dockerfile
docker-compose.yml

node_modules
vendor
