@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.active--nav {
    @apply bg-ternary-dark font-semibold;
}

.auth-wrapper {
    min-height: 100vh;
    background-blend-mode: screen;
    background: url(/images/auth-bg.png);
    background-color: #485d73;
    background-size: cover;
}

button:disabled {
    opacity: 0.7;
}

input:focus,
select:focus,
button:focus {
    outline: none;
}

.base-block::-webkit-scrollbar {
    display: none;
}

.border-3 {
    border-width: 3px;
}

// vue tabs component
.tabs-component {
    .tabs-component-tabs {
        border-bottom-width: 3px;
        @apply bg-gray-100 flex items-end border-gray-300 uppercase font-semibold text-gray-500;
    }

    .tabs-component-tab-a {
        @apply block py-4 px-5 cursor-pointer hover:bg-white hover:text-primary hover:border-primary;
    }

    .is-active {
        @apply bg-white border-primary text-primary;
        border-bottom-width: 3px;
        margin-bottom: -3px;
    }

    .tabs-component-panel {
        @apply py-5 px-4;
    }
}

// vue select
@import "vue-select/src/scss/vue-select.scss";

.vs__dropdown-toggle {
    @apply border border-primary rounded-none flex items-center justify-between;
    padding-top: 3px;
    padding-bottom: 3px;
}

.vs__search {
    @apply text-primary font-semibold flex items-center;
}

.vs--single .vs__selected {
    @apply text-primary font-semibold;
}

.vs__selected {
    @apply bg-ternary text-white;
}

.multistep {
    & > .active {
        @apply text-primary font-bold;

        & > span {
            @apply border-primary bg-primary text-white;
        }
    }
}
